**/node_modules
**/.next
**/.git
**/.github
**/.vscode
**/.cursor
**/coverage
**/out
**/dist
**/.DS_Store
**/Thumbs.db
**/*.log
**/.env
**/.env.local
**/.env*.local
**/dev*.log
**/test-results
**/playwright-report
**/playwright/.cache
**/.turbo
**/.tsbuildinfo
**/next-env.d.ts
**/README.md
**/NOTICE
**/LICENSE
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
